---
export interface Props {
  title?: string;
}

// Dacă o pagină nu are titlu specificat, va folosi automat "Bloom Atelier"
const { title = "Bloom Atelier" } = Astro.props;
---

<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="bg-[#FFF5F7]">
    
    <slot />
    
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>